
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>任务跟踪</title>,lkjjjjjjjjjjjjjjjjdjfjfjfjf
<link href="../static/reset.css" rel="stylesheet" type="text/css" />
<link href="../static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="page">
    <div class="header box">mmkk
        <h1><a href="/">任务跟踪</a></h1>
    </div>

    <div class="main box">fffffffffkjjsdjjjjjjnjjnnnnnnnj


        <div class="box">

            <div class="box todos">
                <h2 class="box">待办事项</h2>
                <ul>
                    <li >
                        sdfsdfsdfs
                        &nbsp;
                        <a href="/todo/6/finish?status=yes">完成</a>,
                        <a href="/todo/6/edit">修改</a>,
                        <a href="/todo/6/delete" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                    </li>
                    <li >
                        sdfsdf
                        &nbsp;
                        <a href="/todo/7/finish?status=yes">完成</a>,
                        <a href="/todo/7/edit">修改</a>,
                        <a href="/todo/7/delete" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                    </li>
                    <li >
                        sdf dsfdsf
                        &nbsp;
                        <a href="/todo/11/finish?status=yes">完成</a>,
                        <a href="/todo/11/edit">修改</a>,
                        <a href="/todo/11/delete" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                    </li>
                    <li class="finished">
                        <del>qwwqeqw</del>
                        &nbsp;
                        <a href="/todo/8/finish?status=no">恢复</a>,
                        <a href="/todo/8/edit">修改</a>,
                        <a href="/todo/8/delete" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                    </li>
                    <li class="finished">
                        <del>dsfsdfsdf</del>
                        &nbsp;
                        <a href="/todo/9/finish?status=no">恢复</a>,
                        <a href="/todo/9/edit">修改</a>,
                        <a href="/todo/9/delete" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                    </li>
                    <li class="finished">
                        <del>测试</del>
                        &nbsp;
                        <a href="/todo/10/finish?status=no">恢复</a>,
                        <a href="/todo/10/edit">修改</a>,
                        <a href="/todo/10/delete" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                    </li>
                    <li class="finished">
                        <del>sdf df11111</del>
                        &nbsp;
                        <a href="/todo/13/finish?status=no">恢复</a>,
                        <a href="/todo/13/edit">修改</a>,
                        <a href="/todo/13/delete" onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                    </li>
                </ul>
            </div>

            <div class="box post">
                <h2>新增</h2>
                <form action="/todo/new" method="post" id="post_new">
                    <p><input type="text" name="title" class="long_txt" /></p>
                    <p><input type="submit" class="submit" value="添加" /></p>
                </form>
            </div>

        </div>



    <div class="foot">
        Copyright&copy; 任务跟踪
        作者 <a href="http://simple-is-better.com/">Python.cn(news, jobs)</a>
        &nbsp;
        <a href="http://webpy.org/" target="_blank"><img src="/todo/static/images/webpy_ss.png" alt="powered by web.py" /></a>
    </div>

</div>
</body>
</html>

