<!DOCTYPE html>

<html>
<head>
	<script type="text/javascript" src='/static/js/lottery.js'></script>
	<style>
		.redball {
			background: transparent url(http://open.baidu.com/stat/image/op_caipiao_red.gif) no-repeat scroll center;
			width: 20px;
			word-wrap: normal;
			font-weight: bold;
			font-size: 14px;
			height: 20px;
			text-align: center;
			vertical-align: middle;
			color: white;
			line-height: 20px;
			display: inline-block;
			margin: 3px 2px;
		}
	</style>
</head>
<body>
		<div class="op_caipiao_ball">  
			<span class='redball'>8</span>
		</div>


</body>














</html>






